---
Language: Cpp
Standard: c++20

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Always
ContinuationIndentWidth: 4
IndentAccessModifiers: false
AccessModifierOffset: -4
IndentCaseLabels: true
IndentGotoLabels: true
IndentPPDirectives: BeforeHash
IndentExternBlock: AfterExternBlock
IndentRequiresClause: true
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope

# Line breaking
ColumnLimit: 0
LineEnding: LF
DeriveLineEnding: true
InsertNewlineAtEOF: true
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: true

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# Short constructs
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASameLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false

# Template and concept handling
AlwaysBreakTemplateDeclarations: Yes
BreakTemplateDeclarations: Yes
BreakConceptDeclarations: Yes
BreakBeforeConceptDeclarations: true

# Initializers
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: false
PackConstructorInitializers: NextLine

# Inheritance
BreakBeforeInheritanceComma: false
BreakInheritanceList: BeforeColon

# Binary operators
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true

# Alignment
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: None
AlignConsecutiveMacros: false
AlignConsecutiveAssignments: false
AlignConsecutiveBitFields: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Right
AlignOperands: DontAlign
AlignTrailingComments: false
PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Left

# Packing
BinPackArguments: true
BinPackParameters: true
ExperimentalAutoDetectBinPacking: false

# Strings
BreakStringLiterals: true
AlwaysBreakBeforeMultilineStrings: false

# Namespaces
CompactNamespaces: false
FixNamespaceComments: true
NamespaceIndentation: All
ShortNamespaceLines: 0

# Includes
IncludeBlocks: Preserve
SortIncludes: Never
IncludeCategories:
  - Regex: '^"(llvm|llvm-c|clang|clang-c)/'
    Priority: 3
    SortPriority: 0
  - Regex: '^(<|"(gtest|gmock|isl|json)/)'
    Priority: 2
    SortPriority: 0
  - Regex: '.*'
    Priority: 1
    SortPriority: 0
IncludeIsMainRegex: '(Test)?$'
IncludeIsMainSourceRegex: ''

# Spaces
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: true
SpaceInEmptyParentheses: false
SpaceInParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: true
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1
SpacesInParentheses: false
SpacesInSquareBrackets: false

# C++20/23 specific
SpaceAroundPointerQualifiers: Default
InsertBraces: true
RemoveBracesLLVM: false
RemoveParentheses: Leave

# Lambdas
LambdaBodyIndentation: Signature

# Comments
ReflowComments: true
CommentPragmas: '^ IWYU pragma:'

# Macros
ForEachMacros:
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH
StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION
MacroBlockBegin: ''
MacroBlockEnd: ''

# Penalties
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakOpenParenthesis: 0
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000
PenaltyIndentedWhitespace: 0
PenaltyReturnTypeOnItsOwnLine: 60

# JavaScript (not used but required)
JavaScriptQuotes: Leave
JavaScriptWrapImports: true

# ObjC (not used but required)
ObjCBinPackProtocolList: Auto
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
